/* generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav */
#nav{
    width: 80%;
    margin: 20px auto;
    background-color: white;
    line-height: 20px;
    font-size: 20px;  
    text-align: center; 
    align-items: center;
}
/* bg_main */
.bg_main{
    background-color: aqua;
    height: 80vh;
}
/* griglia */
.griglia{
    width: 40%;
    height: 80%;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}
/* celle */
/* celle griglia 10x10 */
.box10{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    align-items: center;
    text-align: center;
}
/* celle griglia 9x9 */
.box9{
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: 1px solid black;
    align-items: center;
    text-align: center;
}
/* celle griglia 7x7 */
.box7{
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 1px solid black;
    align-items: center;
    text-align: center;
}
/* box cliccato */
.boxCliccato{
    background-color:darkcyan;
}
